{{ ansible_managed }}

server:
    unblock-lan-zones: yes
    insecure-lan-zones: yes

    # *.tq.rs → 127.0.0.1
    domain-insecure: "tq.rs"
    private-domain: "tq.rs"
    local-zone: "hex.tq.rs." always_transparent
    local-zone: "tq.rs." redirect
    local-data: "tq.rs IN A 192.168.0.3"
    local-data-ptr: "192.168.0.3 tq.rs"
    
    # *.home and *.lan (192.168.0.0/24)
    private-domain: "home"
    domain-insecure: "home"
    local-zone: "home." static

    private-domain: "lan"
    domain-insecure: "lan"
    forward-zone:
        name: "lan."
        forward-addr: 192.168.0.1
        forward-no-cache: yes
