{% raw %}
                    /\             /\
                   |`\\_,--="=--,_//`|
                   \ ."  :'. .':  ". /
                  ==)  _ :  '  : _  (==
                    |>/O\   _   /O\<|
                    | \-"~` _ `~"-/ |
                   >|`===. \_/ .===`|<
             .-"-.   \==='  |  '===/   .-"-.
.-----------{'. '`}---\,  .-'-.  ,/---{.'. '}----------.
 )          `"---"`     `~-===-~`     `"---"`         (
(       ________ ___  _   _  _                         )
 )     |__  /_ _/ _ \| \ | || |_ __ _   _ __ ___      (
(        / / | | | | |  \| || __/ _` | | '__/ __|      )
 )      / /_ | | |_| | |\  || || (_| |_| |  \__ \     (
(      /____|___\___/|_| \_(_)__\__, (_)_|  |___/      )
 )                                 |_|                (
'------------------------------------------------------'
{% endraw %}
{{ login_banner }}
